// app global css in SCSS form
body {
  font-family: 'Montserrat', sans-serif;
}

.ev-font {
  font-family: 'Montserrat', sans-serif;
}

.text-title-1-extra-bold {
  font-style: normal;
  font-weight: 800;
  font-size: 82px;
  line-height: 120%;
}

.text-title-2-extra-bold {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 120%;
}

.text-title-3-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
}

.text-title-4-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
}

.text-subhead-1-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}

.text-subhead-2-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 170%;
}

.text-subhead-2-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

.text-body-semi-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.text-body-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.text-caption-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.text-btn-1-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
}

.text-btn-2-semi-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.text-link-btn-1-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
}

.text-link-btn-2-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
}

.radius-8 {
  border-radius: 8px;
}

.ev-border {
  border: 2px solid;
}

.bg-ev-dark {
  background: rgba(14, 27, 45, 0.5);
}

.text-ev-dark {
  color: rgba(14, 27, 45, 0.5);
}

.text-ev-grey {
  color: #D3D7DE !important;
  opacity: 0.6 !important;
}
.bg-ev-grey {
  background: #D3D7DE !important;
  opacity: 0.6 !important;
}
